.ajax-scaffold form,
.ajax-scaffold table,
.ajax-scaffold p,
.ajax-scaffold div,
.ajax-scaffold fieldset {
margin: 0;
padding: 0;
}

.ajax-scaffold {
margin: 5px 0;
}

.ajax-scaffold table {
width: 100%;
}

.ajax-scaffold a,.ajax-scaffold a:visited {
color: blue;
text-decoration: none;
font-weight: bold;
}

.ajax-scaffold a:visited {
color: #06c;
}
.ajax-scaffold a:hover {
background-color: #ff8;
text-decoration: underline;
}

/* Header Styling
   ======================== */

.ajax-scaffold-header {
background-color: #5BB2D1;
position: relative;
}

.ajax-scaffold-header h2 {
color: #fff;
padding: 2px 5px 4px 5px;
margin: 0;
font-size: 1.5em;
}

.ajax-scaffold-header div.actions a {
color: #fff;
background: url(../images/add.gif) 1px 50% no-repeat;
letter-spacing: -1px;
text-decoration: none;
padding: 1px 2px 1px 19px;
}

.ajax-scaffold-header div.actions a:hover {
background: #378CDF url(../images/add.gif) 1px 50% no-repeat;
}

.ajax-scaffold-header div.actions {
position: absolute;
right: 5px;
top: 3px;
width: 120px;
text-align: right;
}

.ajax-scaffold-header div.actions img {
margin-bottom: -3px;
}

/* Header Styling : Nested
   ======================== */

.ajax-scaffold .ajax-scaffold {
margin: 2px 5px;
}

.ajax-scaffold .ajax-scaffold .ajax-scaffold-header h2 {
font-size: 13px;
font-weight: bold;
}

.ajax-scaffold .ajax-scaffold .ajax-scaffold-header div.actions a {
font: bold 11px verdana, sans-serif;
padding: 0 2px 1px 17px;
}

.ajax-scaffold .ajax-scaffold .ajax-scaffold-header div.actions {
top: 4px;
}

/* Table Column Headers
   ============================= */

.ajax-scaffold th {
background-color: #00769A;
text-align: left;
}

.ajax-scaffold th a,
.ajax-scaffold th p {
font-size: 85%;
display: block;
background-color: #00769A;
}

.ajax-scaffold th a {
color: #fff;
padding: 2px 15px 2px 5px;
}

.ajax-scaffold th p {
color: #eee;
padding: 2px 5px;
}

.ajax-scaffold th a:hover {
background-color: #0076AA;
color: #ff8;
}

.ajax-scaffold th.sorted {
background-color: #333;
}

.ajax-scaffold th.asc a,
.ajax-scaffold th.asc a:hover {
background: #333 url(../images/arrow_up.gif) right 50% no-repeat;
}

.ajax-scaffold th.desc a,
.ajax-scaffold th.desc a:hover {
background: #333 url(../images/arrow_down.gif) right 50% no-repeat;
}

.ajax-scaffold th.loading a,
.ajax-scaffold th.loading a:hover {
background: #333 url(../images/indicator-small.gif) right 50% no-repeat;
}

/* Table Body Styling
   ============================= */

.ajax-scaffold td {
padding: 5px 4px;
color: #333;
font-size: 95%;
background-color: #E6F2FF;
border-bottom: solid 1px #C5DBF7;
border-left: solid 1px #C5DBF7;
}

.ajax-scaffold td.actions {
border-right: solid 1px #ccc;
}

.ajax-scaffold tr.even td {
background-color: #fff;
border-left: solid 1px #ddd;
}

.ajax-scaffold tr td.sorted {
background-color: #B9DCFF;
border-bottom: solid 1px #AFD0F5;
}

.ajax-scaffold tr.even td.sorted {
background-color: #E6F2FF;
border-bottom: solid 1px #AFD0F5;
}

.ajax-scaffold td.empty {
color: #999;
text-align: center;
}

/* Table Actions (Edit, Delete) Styling
   ============================= */

.ajax-scaffold td.actions {
padding: 0;
width: 1%;
}

.ajax-scaffold td.actions table {
float: right;
width: auto;
margin-right: 5px;
}

.ajax-scaffold td.actions table td {
border: none;
text-align: right;
padding: 0 2px;
}

.ajax-scaffold td.actions a {
font: bold 12px verdana, sans-serif;
letter-spacing: -1px;
padding: 2px;
margin: 0 2px;
line-height: 16px;
}

/* ajax-scaffold Footer Styling
   ========================== */

.ajax-scaffold .ajax-scaffold-footer {
text-align: right;
background-color: #5BB2D1;
padding: 3px 5px 2px 5px;
border-bottom: none;
color: #ccc;
font: bold 12px arial, sans-serif;
}

.ajax-scaffold-footer a, .ajax-scaffold-header a{
color: #fff;
text-decoration: none;
letter-spacing: 0;
padding: 0 2px;
margin: 0 -2px;
font: bold 12px arial, sans-serif;
}

.ajax-scaffold-footer a:hover, .ajax-scaffold-header a:hover {
background-color: #378CDF;
}

.ajax-scaffold-footer .next, .ajax-scaffold-header .next {
margin-left: 0;
padding-left: 5px;
border-left: solid 1px #ccc;
}

.ajax-scaffold-header .next{
    float: right;
    margin-top: -20px;
    padding-right: 5px;
    margin-right: 10px;
}

.ajax-scaffold-footer .previous {
margin-right: 0;
padding-right: 5px;
border-right: solid 1px #ccc;
}

/* Messages
   ========================= */

.ajax-scaffold .messages-container,
.ajax-scaffold .ajax-scaffold .messages-container{
padding: 0;
margin: 0 7px;
border: none;
}

.ajax-scaffold .empty-message {
background-color: #e8e8e8;
padding: 4px;
text-align: center;
color: #666;
}

.ajax-scaffold .message {
font-size: 11px;
font-weight: bold;
padding: 5px 20px 5px 5px;
color: #333;
position: relative;
margin: 2px 7px;
line-height: 12px;
}

.ajax-scaffold .message a {
position: absolute;
right: 10px;
top: 4px;
padding: 0;
font: bold 11px verdana, sans-serif;
letter-spacing: -1px;
}

.ajax-scaffold .messages-container .message {
margin: 0;
}

.ajax-scaffold .error-message {
border-left: solid 5px #f66;
background-color: #fbb;
}

.ajax-scaffold .warning-message {
border-left: solid 5px #ff6;
background-color: #ffb;
}

.ajax-scaffold .info-message {
border-left: solid 5px #66f;
background-color: #bbf;
}

/* Error Styling
   ========================== */

.ajax-scaffold #errorExplanation {
background-color: #fcc;
margin: 2px 0;
border: solid 1px #f66;
float: left;
}

.ajax-scaffold fieldset {
clear: both;
}

.ajax-scaffold #errorExplanation h2 {
padding: 2px 5px;
color: #333;
font-size: 11px;
margin: 0;
letter-spacing: 0;
font-family: Verdana;
background-color: #f66;
}

.ajax-scaffold #errorExplanation ul {
margin: 0;
padding: 0 2px 4px 25px;
list-style: disc;
}

.ajax-scaffold #errorExplanation p {
font-size: 11px;
padding: 2px 5px;
font-family: Verdana;
margin: 0;
}

.ajax-scaffold #errorExplanation ul li {
font: bold 11px verdana;
letter-spacing: -1px;
margin: 0;
padding: 0;
background-color: transparent;
}

.ajax-scaffold .fieldWithErrors input {
border: solid 1px #f00;
}

/* Loading Indicators
   ============================== */

.ajax-scaffold .loading-indicator {
vertical-align: bottom;
margin: 0;
}

.ajax-scaffold .ajax-scaffold-header .loading-indicator,
.ajax-scaffold .update .loading-indicator,
.ajax-scaffold .create .loading-indicator {
vertical-align: bottom;
margin-bottom: 3px;
}

/* Form Styling
   ============================== */

.ajax-scaffold td.update,
.ajax-scaffold td.create {
background-color: #DAFFCD;
padding: 4px;
border: solid 1px #7FcF00;
border-top: none;
}

.ajax-scaffold .ajax-scaffold td.update,
.ajax-scaffold .ajax-scaffold td.create {
background-color: #ffb;
border: solid 1px #DDDF37;
border-top: none;
}

.ajax-scaffold .submit {
font-weight: bold;
font-size: 14px;
font-family: Arial, sans-serif;
letter-spacing: 0;
margin: 0;
margin-top: 5px;
}

.ajax-scaffold fieldset {
border: none;
}

.ajax-scaffold label.required{
font-weight: bold;
}

.ajax-scaffold label.example {
font-size: 11px;
font-family: arial;
color: #888;
}

.ajax-scaffold h4 {
padding: 2px;
margin: 0;
text-transform: none;
color: #1F7F00;
letter-spacing: -1px;
font: bold 16px arial;
}

.ajax-scaffold p.form-footer a {
font: bold 14px arial, sans-serif;
letter-spacing: 0;
}

.ajax-scaffold p {
clear: both;
}

.ajax-scaffold div.row {
clear: both;
float: none;
padding: 2px;
margin-left: 5px;
}

.ajax-scaffold div.form-element {
float: left;
margin-right: 10px;
margin-bottom: 2px;
}

.ajax-scaffold label {
display: block;
font-family: Verdana, sans-serif;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

.ajax-scaffold input.text-input,
.ajax-scaffold select {
font-size: 16px;
font-weight: bold;
font-family: Arial, sans-serif;
letter-spacing: -1px;
border: solid 1px #1F7F00;
}

.ajax-scaffold .form-element input {
padding: 1px;
}

.ajax-scaffold textarea {
height: 65px;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 1px;
border: solid 1px #1F7F00;
}

/* IE hacks
   ==================================== */

* html .ajax-scaffold-header {
height: 1%;
}

* html .ajax-scaffold td .messages-container {
border-top: solid 1px #DAFFCD;
}
/*tab-style.css:*/
#companies_tabnav {
	color: #fff;
	border-top: 2px solid;
	border-color:#5BB2D1;
	margin: 8px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px; 
	line-height: 1.4em;
}

#companies_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

#companies_tabnav a,#companies_tabnav a.active {
	color: #407C92;
	font-weight: normal;
	padding: 1px 15px 3px 15px;
	border-left: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	border-top: 2px solid #5BB2D1;
	text-decoration: none; 
	font-size: 1.05em;
}

#companies_tabnav {
	border-top: 2px solid;
	border-color:#5BB2D1;
}


#companies_tabnav a, a:visited {
	color: #5BB1D1; 
}

#companies_tabnav a:hover {
	color: #407C92;
	border-top: 2px solid #FFF;
	border-left: 2px solid #5BB2D1;
	border-bottom: 2px solid #5BB2D1;
	border-right: 2px solid #5BB2D1;
}

#companies_tabnav a.active {
	border-top: 2px solid #A9D6E7;
	border-left: 2px solid #5BB2D1;
	border-bottom: 2px solid #5BB2D1;
	border-right: 2px solid #5BB2D1;
	background: #A9D6E7;
	color: #407C92;
}

#companies_tabnav a.active:hover {
    color: #FFF;
}

#companies_tabnav a.loading{
    border-top: 2px solid #FFF;
	border-left: 2px solid #5BB2D1;
	border-bottom: 2px solid #5BB2D1;
	border-right: 2px solid #5BB2D1;
    background: url(../images/indicator-small.gif) right 50% no-repeat;
}

#company_chart {
   margin:0px;
   width:810px;
   height:200px;
   background-color:#dedeed;
   border:1px solid #999;
}

div#statement_bar {
   padding-bottom: 0.5em;
}

#statement_bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 0.0em;
    border-bottom: 1px solid #d6d7ff;
}

#statement_bar ul li {
    display: inline;
    border-right: 1px solid #d6d7ff;
    margin:0;
    padding: 0pt 2pt 0pt 2pt;
}

#statement_bar ul li.noborder {
    border-right: none;
}
#statement_bar ul li a {
    color: #5BB1D1;
    padding: 0em 1em;
    text-decoration: none;
}
#statement_bar ul li a:visited {
    text-decoration: none;
}
#statement_bar ul li a:hover {
    color: #5BB1D1;
    text-decoration: none;
    border-top: 1px solid #5BB2D1;
	border-left: 1px solid #5BB2D1;
	border-right: 1px solid #5BB2D1;
}

#statement_bar ul li a.loading{
    color: #5BB1D1;
    border-top: 1px solid #5BB2D1;
	border-left: 1px solid #5BB2D1;
	border-bottom: 3px solid #FFF;
	border-right: 1px solid #5BB2D1;
    background: url(../images/indicator-small.gif) left 50% no-repeat;
}

#statement_bar ul li a.active {
    padding: 0em 1em;
	border-top: 1px solid #d6d7ff;
	border-left: 1px solid #d6d7ff;
	border-bottom: 3px solid #FFF;
	border-right: 1px solid #d6d7ff;
	color: #407C92;
}

#statement_bar ul li a.active:hover  {
	text-decoration: none;
}

#statement_bar hr {
    height: 1px;
    border: 0em;
    border-top: 1px solid #d6d7ff;
    margin: 0 !important;
    padding: 1pt;
}

#statement_table{
    border-top: 1px solid #FFFFFF;
	border-left: 1px solid #d6d7ff;
	border-bottom: 1px solid #d6d7ff;
	border-right: 1px solid #d6d7ff;
	position:relative;
        font-size: 0.9em;
}

.loadingActive, .loadingStopped {
	 position:absolute;
	 left: 605px;
	 top: 163px;
	 visibility: visible;
	 border: 2px solid red;
     font-weight: bold;
     vertical-align: top;
     font-size: 0.7em;
     background: #FFCCFF;
}

.loadingStopped {
	 visibility: hidden;
}

#statement_table .statement_table {
    width: 980px;
    position: relative;
    top:  6px; 
}

#statement_table .statement_table thead {
    color: #FFF; 
    background-color: #5BB2D1; 
}

#statement_table .statement_table thead th a,
#statement_table .statement_table thead th a:hover,
#statement_table .statement_table thead th a:visited{
    margin: 0px 0px;
    padding: 0px 0px;
}

#statement_table .statement_table thead th img{
    float:left;
    margin: 0px 0px;
    padding: 0px 0px;
    cursor:pointer; 
}

#statement_table .statement_table tr.even td {
    background-color: #fff;
    border-left: solid 1px #ddd;
}

#statement_table .statement_table td {
    padding: 4px 3px;
    color: #333;
    background-color: #E6F2FF;
    border-bottom: solid 1px #C5DBF7;
    border-left: solid 1px #C5DBF7;
    color: #000;
}

#statement_table .statement_table tr.even td {
    background-color: #fff;
    border-left: solid 1px #ddd;
}

#statement_table .statement_table tbody tr:hover td{
	background-color:#B9DCFF;
	cursor:pointer;
}

#statement_table .statement_table tbody tr.selected td{
	background: #B9DCFF none repeat scroll 0%;
	border: 1px solid #5BB2D1;
}

#statement_table .statement_table tbody tr td span.account {
    background: url(../images/buttonmin.gif) left 50% no-repeat;
    cursor:pointer;
}

#statement_table .statement_table tbody tr td span.account_sitchoff {
    background: url(../images/buttonplus.gif) left 50% no-repeat;
    cursor:pointer;
}

#statement_table .deleted_columns_parent{
  color: #407C92;
}

#statement_table .deleted_columns_parent a{
  color: #5BB2D1;
  text-decoration: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

#statement_table .deleted_columns_parent a:hover{
  text-decoration: underline;
  border: 0px none;
  margin: 0px 0px;
  padding: 0px 0px;
}

#filter_box{
  position: absolute;
  left: 100px;
  top: -2px;
 }

#filter_indicator{
  margin: 5px 0px 5px 10px;
}

#navigation{
     position: absolute; 
     top:   3px; 
     left:  480px;
     width: 500px;
}

#navigation #left-enabled{
    float: left;
    margin: 0pt;
}

#navigation #right-enabled{
    float: right;
    margin: 0pt;
}

#statement-chart-container{
   position: relative;
   width: 400px;
   height: 85px;
}
#statement-chart{
    position: absolute;
    left: 385px;
    top: -18px;
}

#navcontainer {
        background: #E6F2FF;
        margin: 6px 0 1px 0;
        padding: 9px 0 0 0;
        position: absolute;
        left:      0px;
        top:       6px;
        bottom:    7px; 
        width: 370px;
}

/* to stretch the container div to contain floated list */
#navcontainer:after {
        content: ".";
        display: block;
        line-height: 1px;
        font-size: 1px;
        clear: both;
}

ul#navlist {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 80%;
}

ul#navlist li {
        display: block;
        float: left;
        width: 140px;
        margin:0px 0px;
        text-align:center;
        padding: 0;
}

ul#navlist li a {
        display: block;
        width: 100%;
        padding: 1px;
        border-width: 1px;
        border-color: #ffe #aaab9c #ccc #fff;
        border-style: solid;
        color: #5BB1D1;
        text-decoration: none;
        background: #EEF2F7;
}

#navcontainer>ul#navlist li a { width: auto; }

ul#navlist li#active a {
        background: #f0e7d7;
        color: #800000;
}

ul#navlist li a:hover, ul#navlist li#active a:hover {
        color: #407C92;
        background: transparent;
        border-color: #aaab9c #fff #fff #555;
}
/*carousel.css:*/
.carousel-component { 
	position:relative;
	overflow:hidden;
	visibility:visible;
}
				
.carousel-component ul.carousel-list { 
	width: 10000000px;
	position:relative;
	z-index:1; 
}

.carousel-component .carousel-list li { 
	float:left;
	list-style:none;
	overflow:hidden;
}

.carousel-component .carousel-vertical li { 
	float:none;
	margin-bottom:0px;
}

.carousel-component ul.carousel-vertical { 
	width:auto;
}

.carousel-component .carousel-clip-region { 
	overflow:hidden;
	margin:0px auto;
	position:relative; 
}

/**
 * Safe to override. It is safe to override background, padding, margin, color,
 * text alignment, fonts, etc. Define a separate CSS file and override your style
 * preferences.
 **/

.carousel-component { 
	background:#FFF;
	padding:0 0 0 0;
	border: 0px;
	border-right: 0px;
}

#ajax-carousel ul.carousel-list { 
	margin:0px;
	padding:0px 0px 0px 0px;
	border-bottom: 0px;
}
#ajax-carousel .carousel-list li { 
	margin: 0px;
	padding:0px;
	border: 0px none;
}
/* Overlay */
#overlay, .overlay {
  width: 100%;
  height: 100%;
  background-color:  #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 30px;
  z-index: 100;
  color: #000;
  border:1px dotted #000;	
	text-align: center;
	font-size: 24px;
  filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
#overlay, .overlay img{
    position: relative;
    left: 43%;
}

#stock_price {
    border:1px solid #EEEEEE;
    display: block;
    padding: 0.4em;
    padding-top: 1em;
    margin-top: -10px;
    background: #F0F0F0;
    width: 48%;
    float: right;
}

#currency{
    bottom:5px;
    font-size: 1.5em;
    font-weight:normal;
    position:relative;
}

#price{
    font-size:3em;
    margin-right: 0.2em;
    position:relative;
}

#price_change{
   font-size: 2em; 
   margin-left: 12px;
}

#stock_date{
    float: left;
    color: #666666;
}

#markets{
    top:15px;
}