<div class="article">
  <h2>About</h2>
  <h3>What is OpenTrade?</h3>
  <p>
    <strong><a href="/">OpenTrade</a></strong> is a community for stock market investors and observers to share investment ideas, exchange market research, and track peers' investment performance, and mostly to have some fun. <strong><a href="/">OpenTrade</a></strong> could also tracks picks by community as whole so you can see how well you perform against it.
  </p>
  <br/>
  <p>
    Everybody knows that the "experts" are not any better than the rest of us at selecting stocks that outperform the market. We believe that a well defined and open trading community could be very beneficial for taking informed and rational investment decisions. 
  </p>
   <br/>
  <p>
    We started as a group of friends needing better ways of collecting, organizing and presenting financial data about public companies traded on <strong><a href="http://www.bse-sofia.bg/">Bulgarian Stock Exchange (BSE)</a></strong>. There are other web sites with similar information but not in a way and format that we needed or envisioned. Most importantly, however, was the fact that there is no well defined community that could help you with your investment decisions and again, have fun while doing what you really love to - <strong>trading</strong>. 
  </p>
   <br/>
  <p>
    This is not about making money on the market, although this is the major driver behind it but more about sharing ideas and benefiting from each other. At the end, it is mostly about a social experience in an inspirational and enriching way. 
  </p><br/>
  <p>
    If you are interested, please go to read more about our <a href="/home/pages/company">company</a>.
  </p>
</div>