<div class="article">
  <h2>Contact Us</h2>
  <h3>We are eager to talk to you...</h3>
  
 <strong>Support:</strong><br/>
    support <span style="color: #5BB2D1;">at</span> opentrade <span style="color: #5BB2D1;">dot</span> bg
<br/><br/>
 <strong>Press Inquiries:</strong><br/>
     press <span style="color: #5BB2D1;">at</span> opentrade <span style="color: #5BB2D1;">dot</span> bg
<br/><br/>
 <strong>...or leave us a note:</strong><br/>
<a href="/feedbacks/new">send feedback</a>
 </div>