<div class="article">
  <h2>Disclaimer</h2>
  <h3>Our vision also incorporates...</h3>

<p>You are solely responsible for the any content that you publish or display on the <a href="/">OpenTrade</a> Site or transmit to other members and/or other website users. You are solely responsible for your reviews of stocks listed on <a href="/">OpenTrade</a>. You agree that you will only post content that you believe to be true and you will not purposely provide false or misleading information. 
</p><br/>  
<p>
<a href="/">OpenTrade</a> merely serves as a repository of information, user-posted content does not rep.resent the advice, views, opinions or beliefs of <a href="/">OpenTrade</a>, and <a href=“/”>OpenTrade</a> makes no claim of accuracy of any user-posted material. 
</p><br/>  
<p>
By posting on the <a href="/">OpenTrade</a> Site, you agree to and hereby do grant, and you represent and warrant that you have the right to grant <a href="/">OpenTrade</a>, and the users of the <a href="/">OpenTrade</a> Site an irrevocable, perpetual, non-exclusive, royalty-free, fully sublicensable worldwide license to use, copy, publicly perform, digitally perform, publicly display, and distribute such posted content and to prepare derivative works of, or incorporate into other works, such posted content. </p><br/>  


<span style="color: red; font-weight: bold;"><p><strong>Note:</strong></p>
<p>We reserve the right to remove or alter in any way and any form anything posted to <a href="/">OpenTrade</a> web site. We will do this solely to preserve the professional spirit of the discussions and comments, and to prevent rude or insulting language. We do not like censure but we decided to impose such rules based on very abusive and offensive discussions or comments seen on numerous Bulgarian web sites. </p><br/>  </span>
<p>
The inclusion of a link on the Site or Services does not imply any endorsement by or any affiliation with <a href="/">OpenTrade</a>. In accessing the Site and Services or following links to third-party websites you may be exposed to content that you consider offensive or inappropriate. You agree that your only recourse is to stop using the Site and Services. </p><br/>  
<p>The information on <a href="/">OpenTrade</a> is provided <strong>'as is'</strong>. Quotes delayed with a few hours and represents the end of the date closing stock prices.. <a href="/">OpenTrade</a> provides stock quotes and other analyses solely for informational purposes and does not guarantee the accuracy of the information provided. </p><br/>  

<p><a href="/">OpenTrade</a> is not responsible for the posts, discussions, and recommendations of the users on the Site. <a href="/">OpenTrade</a> does not provide investment advice. You understand and agree that you use this website and services at your own discretion and risk and that you will be solely responsible for any damages that arise from such use. Any investment decision that you make or investment strategy that you utilize is done so at your sole discretion and at your own risk. You further acknowledge that while you may be able to access certain investment information through the web site services, the availability of such information does not constitute a recommendation by <a href="/">OpenTrade</a> to invest in any stock or utilize any investment strategy discussed therein. </p>
</div>

