<div class="article">
  <h2>Company</h2>
  <h3>What we value the most....</h3>
  
  <p>
   We are very <strong>agile</strong> and <strong>people</strong> oriented company. Everything we do is vastly user-centric. This make our users irreplaceable for the development and success of  <a href="/">OpenTrade</a> web site. As agile company, we believe in iterative development through incrementally delivering features gathered via constant feedbacks from our actively participating users and members of our community. 
  </p><br/>
  <p>
  This process would be constantly evaluated and optimized with every iteration and delivering cycle. New features and governance issues would also be constantly reviewed and refined with increasing control of the community to ensure they remain effective and reflect the latest consensus and information available.
</p><br/>
<p>
Finally, we envision great <strong>user satisfaction</strong> as well as strong <strong>commitment</strong>.
We are passionate about our principles like <strong>respect</strong> other people, do the <strong>right thing</strong>, be <strong>socially responsible</strong> in everything we do (even business), be <strong>open-minded</strong> and <strong>accept mistakes</strong>, and last but not least have lots of <strong>fun</strong> and <strong>fulfillment</strong> doing all of that.
</p><br/>
<p>
If you are interested in more, do not hesitate to leave us a <a href="/feedbacks/new">note</a> or <a href="/home/pages/contactUs">contact us</a>. 
</p><br/>
<p>
For more info about the of  <a href="/">OpenTrade</a> web site, please go to read more <a href="/home/pages/about">about</a> it.
</p><br/>
<p>
<strong>Thank you</strong> for your time and interest in us!
</p>
    
</div>