<%= render :file => "home/about.html", :layout => false %>

<div class="grey_top"></div>
  <div class="grey">
   <p class="highlight"><a href="/home/pages/company">What we value as a company!</a> - Posted on 12/16/2007</p>
   <p class="highlight"><a href="/home/pages/disclaimer">What are the terms and services?</a> - Posted on 12/11/2007</p>
   <p class="highlight"><a href="/home/pages/privacy">About any privacy concerns.</a> - Posted on 11/09/2007</p>
</div>