<div class="article">
  <h2>Privacy</h2>
  <h3>We value your privacy and put a lot efforts to protect it!</h3>
<p>
 Certain areas of the <a href="/">OpenTrade</a> website may be password restricted to registered users (Password-Protected Areas). <a href="/">OpenTrade</a> collects user submitted account information such as name and email address to identify you and send you notifications related to the use of the service. <a href="/">OpenTrade</a> also collects user submitted comments, analysis, ratings and news link posts.
 </p>
 <br/>
 <p>
 If you have registered as an authorized user to gain access to these Password-Protected Areas, you agree that you are entirely responsible for maintaining the confidentiality of your password, and agree to notify <a href="/">OpenTrade</a> if the password is lost, stolen, disclosed to an unauthorized third party, or otherwise may have been compromised.  You agree that you are entirely responsible for any and all activities that occur under your account, whether or not you are the individual who undertakes such activities.  You agree to immediately notify <a href="/">OpenTrade</a>  of any unauthorized use of your account or any other breach of security in relation to your password or the Website that is known to you.
 </p>
  <br/>
 <p>
 <a href="/">OpenTrade</a> will never spam you, although we reserve the right to email you occasionally with information we think you may find useful but not before you agree on that. Such information includes announcements, activities of other users on the <a href="/">OpenTrade</a> website, updates of stocks on your list and new investment ideas. 
</p>
 <br/>
<p>
<a href="/">OpenTrade</a> reserves the right to display relevant third party advertisements on our website. 
</p>
 <br/>
<p>
<a href="/">OpenTrade</a>  reserves the right to change this privacy policy at any time and without notice. 
</p>
</div>
